<configuration>

  <!-- Console Appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- File Appender -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/TradingApp.log</file> <!-- Log file will be in 'logs' subdirectory -->
    <append>true</append> <!-- Append to existing file, don't overwrite -->
    <encoder>
      <!-- Pattern includes date for file logs -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" /> <!-- Log to Console -->
    <appender-ref ref="FILE" />   <!-- Log to File -->
  </root>

</configuration>
